body {
    background-color: #361818;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    width: 100%;
}


* {
    box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 4px 16px;
  margin: 0px 0;
  box-sizing: border-box;

  font-size: 16px;
  color: #ffffff;
  font-weight: bold;

  background-color: rgba(0, 0, 0, 0.551);
  border: 2px solid rgba(0, 0, 0, 0.272);
  border-radius: 6px;
}

.TopBar {
    background-color: #6c2828;
    display: flex;
    padding: 0px;
    width: 100%;
    align-items: center; 
    box-shadow: -8px 8px 13px 2px rgba(0,0,0,0.25);
}

.button {
  display: inline-block;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  border-radius: 0px;
  font-weight: bold;
}

.Greating {
  padding-left: 2vh;
}

.HomeF-Grid {
  position: fixed;
  display: flex;
  gap: 10px;
  
  left: 3%;
  padding: 10px;
  top: 18%;
  width: 74%;
  height: 15%;
  border-radius: 10px;
  filter: drop-shadow(-1.732px 1px 7.5px rgba(0,0,0,0.57));
  background-color: #55231d;
}

.HomeG-Grid {
  position: fixed;
  display: flex;
  flex-direction: row;
  gap: 10px;
  
  left: 5%;
  padding: 10px;
  top: 38%;
  width: 85%;
  height: 30%;
  border-radius: 10px;
  filter: drop-shadow(-1.732px 1px 7.5px rgba(0,0,0,0.57));
  background-color: #55231d;
}

.likes {
  display: grid;
  background-color: greenyellow;
  width: 100%;
  height: 10px;
}

.h {
  display: flex;
  margin-top: 1px;
}

.Game { 
    display: flex;
    flex-direction: column;
    text-decoration: none; 
    color: #ffffff; 
    width: 100%; 
    max-width: 150px; 
    height: 100%; 
    border-radius: 10px; 
    filter: drop-shadow(-1.732px 1px 7.5px rgba(0,0,0,0.57)); 
    background-color: #6c332b; 
    overflow: hidden;
}


.Friend {
  width: 20%;
  max-width: 95px;
  height: 100%;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  filter: drop-shadow(-1.732px 1px 7.5px rgba(0,0,0,0.57));
  background-color: #6c332b;
}

.home-stats {
   margin: 6px 0 24px;
   color: #9a9a9a;
   font-size: 16px;
   display: flex;
   gap: 16px;
   position: fixed;
   /* left: 6vh; */
   top: 12vh;
}

.home-greeting {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.home-body {
  padding: 3vh;
  color: #f2f2f2;
}

.logo {
    margin-left: 1.5vh;
    margin-top: 0.5vh;
    padding-right: 8px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.16);
}
